.debitor-tbl-head{
    color: rgb(82, 82, 82);
    font-size: 17px;
    font-weight: 500;
    margin-left : 30px;
    margin-top: -10px;
}

.debitor-tbl-body{
    color: rgb(82, 82, 82);
    font-weight: 400;
    margin-right: 20px;
}

.sub-btn{
    height: 38px;
}
.debitor-tbl-name{
    color: rgb(82, 82, 82);
    font-size: 30px;
    font-weight: 500;
    margin-top: -40px;
}
