.sub-btn{
    height: 40px;
    width: 100%;
}
.first-div{
    margin-left: 0px;
    margin-right: 20px;
}

.first-topic{
    font-size: 18px;
    font-weight: 500;
}
.topic-product{
    font-size: 16px;
    font-weight: 500;
}
.product{
    font-size: 14px;
    font-weight: 400;
    color: rgb(88, 88, 88);
}

.del-btn{
    color: rgb(88, 88, 88);
}

.del-btn:hover{
    color: rgb(187, 0, 0);
    cursor: pointer;
}

.meterReadingInput{
    margin-top: -35px;
    margin-bottom: -10px;
}

.debitor-Input{
    color: rgb(82, 82, 82);
    font-size: 17px;
    font-weight: 400;
    margin-top: 30px;
}