.full-side-bar{
    height: 1200px;
    /* margin-left: -15px; */
    background-color: blue;
}

.side-row-div{
    height: 50px;
    background-color: #009688;
}
.side-icn{
    margin-top: 15px;
}

.side-txt{
    padding-top: 15px;
}