.main-div{
    height: 1000px;
}
.reg-card{
    padding-top: 50px;
    
}

.list-card{
    margin-top: 50px;
    
}
.fuel-selector{
    margin-top: 24px;
}

.reg-btn{
    width: 100%;
    height: 38px;
}
/**************************************/

.card-content{
    margin-top: 50px;
    margin-bottom: 50px;

}

/**********************************/
.topic-pump{
    font-weight: 500;
    font-size: 16px;
    color: rgb(46, 46, 46);
}

.des-pump{
    font-weight: 400;
    color: rgb(83, 83, 83);
}

.div-pump{
    margin: 10px;
}
.tpic{
    font-weight: 500;
    color: rgb(75, 75, 75);
    font-size: 18px;
}